
.inter-uniquifier{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #F3F4F6;
}
.container{
    width: 100%;
    height: 40vh;
    background: url("resources/background-image@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 1rem;
    
}
.header h2{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.header h2 span{
    background-color: black;
    padding: 0.2em 0.6em;
    font-size: small;
    border-radius: 1rem;
}
.checkout{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding-bottom: 20px;
}
/* Cart styles */
.cart{
    border-radius: 10px 0px 0px 10px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
    width: 43%;
    padding: 2rem;
    background-color: #D2D5DA;
    display: grid;
    grid-template-areas: 
    "item1   item1-name       item1-price"
    "item1   item1-quantity   item1-cancel"
    "item2   item2-name       item2-price"
    "item2   item2-quantity   item2-cancel"
    "item3   item3-name       item3-price"
    "item3   item3-quantity   item3-cancel"
    "hr-line hr-line          hr-line"
    "coupon  coupon           coupon"
    "sub-total sub-total      sub-total-amount"
    "tax      tax             tax-amount"
    "total total              total-amount"
    ;
    row-gap: 1rem;
    
}
.contact-info{
    width: 43%;
}
.color{
    color: #394150;
    font-weight: 600;
}
.item1{
    grid-area: item1;
    justify-self: center;
    border-radius: 10px;
    padding: 10px 50px 10px;
    background-color: #ffffff;
}
.item1-name{
    grid-area: item1-name;
    
}
.item1-quantity{
    grid-area: item1-quantity;
}
.item1-price{
    grid-area: item1-price;
    text-align: right;
    font-weight: 700;
    font-size: 1.1em;
    color: #1D1D1F;
}
.item1-cancel{
    grid-area: item1-cancel;
    text-align: right;
    font-weight: 700;
    font-size: 1.1em;
    color: #1D1D1F;
    cursor: pointer;
}
.item2{
    grid-area: item2;
    justify-self: center;
    border-radius: 10px;
    padding: 30px 60px 0px;
    background-color: #ffffff;
}
.item2-name{
    grid-area: item2-name;
}
.item2-quantity{
    grid-area: item2-quantity;
}
.item2-price{
    grid-area: item2-price;
    text-align: right;
    font-weight: 700;
    font-size: 1.1em;
    color: #1D1D1F;
}
.item2-cancel{
    grid-area: item2-cancel;
    text-align: right;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.1em;
    color: #1D1D1F;
}
.item3{
    grid-area: item3;
    justify-self: center;
    border-radius: 10px;
    padding: 20px 10px 2px;
    background-color: #ffffff;
}
.item3-name{
    grid-area: item3-name;
}
.item3-quantity{
    grid-area: item3-quantity;
}
.item3-price{
    grid-area: item3-price;
    text-align: right;
    font-weight: 700;
    font-size: 1.1em;
    color: #1D1D1F;
}
.item3-cancel{
    grid-area: item3-cancel;
    text-align: right;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.1em;
    color: #1D1D1F;
}
.hr-line{
    grid-area: hr-line;
}
.coupon{
    grid-area: coupon;
}
.sub-total{
    grid-area: sub-total;
}
.sub-total-amount{
    grid-area: sub-total-amount;
    text-align: right;
}
.tax{
    grid-area: tax;
}
.tax-amount{
    grid-area: tax-amount;
    text-align: right;
}
.total{
    grid-area: total;
    font-weight: 600;
    color: #1D1D1F;
}
.total-amount{
    grid-area: total-amount;
    text-align: right;
    font-weight: 600;
    color: #1D1D1F;
}

.item1-name h2, .item2-name h2, .item3-name h2{
    margin-bottom: 0.5rem;
}
.item1-name p, .item2-name p, .item3-name p{
    margin-top: 0;
}
.coupon input{
    width: 70%;
    padding: 0.7em;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid #e5e7eb;
    border-radius: 0.3em;
}
.coupon button{
    width: 25%;
    padding: 0.7em;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid #e5e7eb;
    border-radius: 0.3em;
    background-color: #1D1D1F;
    color: #ffffff;
    cursor: pointer;
}
/* Contact-info styles */
.contact-info{
    background-color: #ffffff;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
    padding: 2rem;
}
.contact-info label{
    display: block;
    font-size: 1.2em;
    color: rgb(57, 57, 57);
    font-weight: 600;
    padding-left: 2px;
    margin-bottom: 0.3rem;
}
.country-code{
    display: flex;
    width: 100%;
    gap: 1rem;
}
#name, #email{
    width: calc(100% - 2rem);
    padding: 1rem;
    border: 1px solid #D2D5DA;
    border-radius: 10px;
    background-color: #e4e4e4;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
}
.cntry-selection, .ps-code{
    width: 50%;
}
#postal-code{
    width: 90%;
    padding: 1rem;
    border: 1px solid #D2D5DA;
    border-radius: 10px;
    background-color: #e4e4e4;
    font-size: 1rem;
    font-weight: 500;
}
.country{
    width: 100%;
    padding: 1rem;
    border: 1px solid #D2D5DA;
    border-radius: 10px;
    background-color: #dcdcdc;
    font-size: 1rem;
    font-weight: 500;
}
.next{
    margin-top: 1rem;
    width: 100%;
    padding: 0.9rem;
    border-radius: 0.5rem;
    background-color: #1D1D1F;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

